
h1 {
    color: red;
    }

    img {
        width: 400px;
    }
#thirdDiv {
    width: 500; 
    height: 600;  
    background:darkgray; 
    padding: 50px; 
    border: 5px solid black;
}
#spanId { 
    font-size: 18px; margin: 50px;
}
 
